@model PrivateForum.Entities.Topic

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AverangeMark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverangeMark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MarkCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MarkCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
